.row{
    align-items: center;
}

.card.card-height{
    height: 750px;
}

.card .card-body{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.text-stats{
    background: transparent;
    box-shadow: 10px 10px 25px rgba(65, 65, 65, 0.2);
    border-radius: 5px;
}

.text-stats p{
    font-size: 1.2rem;
}