.placeText{
  transform: translate(0, 0);
  transition: all .4s ease;
  z-index: 1000;
}

input:focus ~ .placeText{
  transform: translate(-30px, -40px);
}

.inputSelect ~ .placeText{
  transform: translate(-30px, -40px);
}

.btn-link{
  border-bottom: 5px solid white;
  transition: all 1s ease;
}

.btn-link.active{
  border-bottom: 5px solid #58c1f5;
}